/* enable nanumgothic */
@import url(//fonts.googleapis.com/earlyaccess/nanumgothic.css);
* {
  font-family: 'Nanum Gothic';
}

/* visible */
@media screen and (max-width: 400px) {
    div.sitedata { margin:0 auto;max-width: 95%; height: auto; }
}
