<h1>ByToss</h1>
<p>이 패키지는 작동하지 않습니다.</p>
<!-- <h2>경고!</h2>
<p>이 패키지는 전문 지식 없이 설치해서는 안됩니다.</p>
<h2>상세 정보</h2>
<p>이 패키지는 탈옥을 감지하는 앱들이 탈옥을 감지하지 못하도록 합니다.</p>
<p>이 패키지의 최종 목표는 한국 은행 앱의 탈옥 감지를 우회하는것입니다.</p> -->
