<h1>ByToss</h1>
<p>This package is not working.</p>
<!-- <h2>WARNING!</h2>
<p>This package should never be installed without expertise.</p>
<h2>Overview</h2>
<p>This package is designed to bypass the detection of jailbreak in some apps.</p>
<p>The final goal of this package is to bypass the jailbreak detection of Korean bank apps.</p> -->
