<p>탈옥 상태에서 카카오뱅크가 실행되는것을 방해하는 3가지 요소가 실행되지 못하도록 수정합니다.</p>
<p>만약 더 이상 작동하지 않게 된다면 pp121324@gmail.com으로 메일을 보내서 수정을 요청할 수 있습니다.<br>
하지만 수정하지 못할수도 있습니다.</p>
<img src="com.rpgfarm.kakaopass/Screenshot1.jpg">
<p>저를 후원하고 싶으신가요? 위의 페이팔 또는 카카오페이 버튼을 클릭하세요 :)</p>
